a{
  color: #000;
  text-decoration: none;
}

h1{
  margin: 0;
  padding: 0;
  font-size: 28px;
  line-height: 1.2;
}

.wrapper-sm {
  max-width: 1310px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.p-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.btn-reset {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-tabs,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border: none;
}

.total-top .menu-lists.owl-carousel .owl-wrapper.owl-item .menu-item,
.total-top .menu-lists.owl-carousel .owl-item.owl-item .menu-item {
  background: #fff;
  color: #000;
}

.total-top .menu-lists.owl-carousel .owl-wrapper.owl-item .menu-item + .menu-item::before,
.total-top .menu-lists.owl-carousel .owl-item.owl-item .menu-item + .menu-item::before,
.total-top .menu-lists.owl-carousel .owl-item.owl-item .menu-item.retirement-funds::before {
  background: #BEBEBE;
}

.total-top .menu-lists {
  border-top: 2px solid #BEBEBE;
  border-bottom: 2px solid #BEBEBE;
}

a.button-menu,
span.button-menu,
button.button-menu,
input.button-menu {
  background: #fff;
  border: 3px solid #fff;
}

.burger__btn {
	padding: 0;
	width: 50px;
	height: 50px;
	position: relative;
	z-index: 10;
  background-color: #fff;
  border: none;
  border-radius: 8px;
}

.burger__line {
	width: 50%;
	height: 2px;
	display: block;
	position: absolute;
  top: 10px;
	right: 0px;
	background: #000;
}

.burger__btn .burger__line:nth-child(1) {
	top: 32%;
	transform: translateX(-50%) translateY(-50%);
	transition: top .3s cubic-bezier(0.21, 0.83, 0.26, 0.87) .3s,transform .3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
}

.burger__btn .burger__line:nth-child(2) {
	top: 50%;
	opacity: 1;
	transform: translateX(-50%) translateY(-50%);
}

.burger__btn .burger__line:last-child {
	top: 68%;
	transform: translateX(-50%) translateY(-50%);
	transition: top .3s cubic-bezier(0.21, 0.83, 0.26, 0.87) .3s,transform .3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
}

.burger__btn_open .burger__line:nth-child(1) {
	top: 50%;          
	transform: translateX(-50%) translateY(0) rotate(45deg);
	transition: top .3s cubic-bezier(0.21, 0.83, 0.26, 0.87), transform .3s cubic-bezier(0.21, 0.83, 0.26, 0.87) .3s;
}

.burger__btn_open .burger__line:nth-child(2) {
	opacity: 0;
}

.burger__btn_open .burger__line:last-child {
	top: 50%;
	transform: translateX(-50%) translateY(0) rotate(-45deg);
	transition: bottom .3s cubic-bezier(0.21, 0.83, 0.26, 0.87) ,transform .3s cubic-bezier(0.21, 0.83, 0.26, 0.87) .3s;
}

.burger__btn.burger__btn_open .burger__line{
  background-color: #fff;
}

.home{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 8px;
  background-color: #fff;
}

.question-btn{
  padding: 0 15px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
  font-size: 22px;
  font-weight: 700;
  border-radius: 8px;
  background-color: #fff;
}

.icon{
  width: 30px;
  height: 30px;
}

.arrow{
  width: 36px;
  height: 36px;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}

.modal .modal-panel{
  margin: 0 auto;
  max-width: 1280px;
  width: 95%;
}

.offcanvas-start {
  width: 455px;
  font-size: 36px;
}

.offcanvas-header{
  padding-left: 20px;
  height: 86px;
  border-bottom: 1px solid #000;
  justify-content: flex-start;
}

.diagnosis .header {
  background-color: #328cbd;
  border-bottom: 8px solid #1e5472;
}

.diagnosis .header .header__right{
  min-width: 160px;
}

.offcanvas-body {
  padding: 0;
}

.panel_3{
  grid-column: 2 span;
}

.nav__link{
  display: block;
  font-size: 26px;
  font-weight: bold;
  height: 135px;
  line-height: 135px;
  overflow: hidden;
  padding: 0 60px 0 24px;
  position: relative;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.nav__link:hover{
  color: #000;
}

.navigation .content-frame .grid {
  justify-content: center;
  width: 100%;
}

main .wrapper-sm .content-panel.grid{
  gap: 40px;
}

.navigation,
.navigation .content-frame .grid .column a {
  color: #333333;
  background: linear-gradient(to bottom, #efefef, #e5e5e5);
}

.navigation .content-frame .grid .column > span{
  color: #333333;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation .content-frame .grid .column a.current, .navigation .content-frame .grid .column > span.current{
  color: #fff;
}

.navigation .content-frame .grid .column {
  background-color: #a3a2a2;
}

.navigation .content-frame .grid .column a.current::before {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 20px;
}

.tab .tab-button-wrap .tab-button.current {
  color: #fff;
  font-weight: 700;
}

.tab .tab-button-wrap .tab-button {
  padding: 0 20px;
  font-weight: 400;
  color: #333333;
  background: #eaeaea;
  display: flex;
  align-items: center;
}

.top .content-panel .taget-info .panel-entry .content {
  font-size: 24px;
  border: 1px solid #000;
  background-color: #fff;
}

.table table th > div, .table table td > div {
  font-weight: 700;
}

.table table th {
  border-bottom: 2px solid #bebebe;
  border-left: 2px solid #bebebe;
  border-top: 2px solid #bebebe;
}

.table table td {
  border-bottom: 2px solid #bebebe;
  border-right: 2px solid #bebebe;
  border-top: 2px solid #bebebe;
}

.tab .caption.caption-fix {
  min-height: 68%;
}

.blocklist ul {
  border: 2px solid #bebebe;
}

.blocklist ul li {
  border-bottom: 2px solid #bebebe;
}

.insurance .protection .title {
  border: none;
}

.protection .border {
  border: 2px solid #bebebe !important;
}

.insurance .protection .content {
  border: none;
}

.insurance .protection .content .content-inner .fee table th,
.insurance .protection .content .content-inner .fee table td{
  border: 2px solid #bebebe;
}

.education-plane .total-amount,
.modal .cost-monthly .table {
  border: 2px solid #bebebe;
  margin-top: 0;
}

.insurance .protection .content .content-inner .fee table td.total .money{
  color: #d96c32;
}

a.button-blank, span.button-blank, button.button-blank, input.button-blank {
  color: #fff;
  border: none;
  border-radius: 18px;
}

.modal .modal-frame {
  background: #ffe9b3;
  width: 98%;
  border: 6px solid #afafaf;
}

.modal .modal-frame .button-modal-close {
  right: -6px;
  top: -6px;
}

a.button-modal-close, span.button-modal-close, button.button-modal-close, input.button-modal-close{
  width: 95PX;
  height: 95px;
}

.modal .modal-frame .modal-title {
  color: #fff;
}

select.pulldown,
input.textarea,
.modal .child-setting .birthday label,
.modal .child-setting .total-expenses .total-info {
  color: #333333;
  border: 2px solid #bebebe;
}

a.button-modal, span.button-modal, button.button-modal, input.button-modal {
  background: #fff;
}

.radiolist label input[type="radio"]:checked + span{
  color: #fff;
}
.radiolist label:last-child > span,
.modal .child-setting .table.result .row-annual-sum th,
.modal .child-setting .table.result .row-title th {
  border-right: 2px solid #bebebe;
}

.modal .child-setting .table.select table td {
  border-left: 2px solid #bebebe;
}

.modal input.textarea,
.modal select.pulldown,
.modal .table table th > div, .modal .table table td > div{
  font-size: 3.8rem;
}

.radiolist label > span {
  border-top: 2px solid #bebebe;
  border-bottom: 2px solid #bebebe;
  border-left: 2px solid #bebebe;
  background: #fff;
  font-weight: 400;
}

.radiolist label > span {
  border-top: 2px solid #bebebe;
  border-bottom: 2px solid #bebebe;
  border-left: 2px solid #bebebe;
}

a.button.decide, a.button-modal.decide, span.button-modal.decide, button.button-modal.decide, input.button-modal.decide {
  color: #fff;
}

a.button-icon.edit, span.button-icon.edit, button.button-icon.edit, input.button-icon.edit{
  width: 40px;
  height: 40px;
  padding: 0;
  margin: auto;
  border: 0;
  background-color: transparent;
  background-image: url(../img/svg/pencil.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.menu-item .figure::after {
  background-size: contain !important;
}

.mobile_nav .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #fff;

}

.mobile_nav .nav-pills .nav-link {
  font-size: 18px;
}

.mobile_nav .nav {
width: 100%;
}

.mobile_nav .nav-item {
  width: 50%;
}

.mobile_nav .nav-link {
  width: 100%;
}

.mobile_nav .nav-pills .nav-link, .mobile_nav .nav-pills .show>.nav-link {
  border-bottom: 2px solid #BEBEBE;
}

.nav-pills .nav-link:not(.active) {
  padding-bottom: 0.7rem;
}

.mobile_nav .figure {
  position: relative;
  height: 120px;
}

.mobile_nav .name {
  padding-left: 15px;
}

.mobile_nav .figure::before {
  content: "";
  display: block;
  height: 90%;
  width: 50%;
  border-radius: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}


.mobile_nav .menu-item:hover .figure::before {
  border-radius: 0;
  -webkit-transform: scale(2);
  transform: scale(2);
  box-shadow: 0 10px 15px rgb(100 0 0 / 15%) inset;
}

.mobile_nav .figure::after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
}


.mobile_nav .menu-item {
  overflow: hidden;
}

.mobile_nav .menu-item:hover {
  color: #000;
}

.mobile_nav .tab-pane>div {
  border-bottom: 1px solid #bebebe;
}

.mobile_nav .name {
  font-size: 24px;
}

.mobile_nav .single .figure::after {
  background: url('../img/img_illust_slngle_M.png') center center no-repeat;
  background-size: contain;
}

.mobile_nav .child-rearing .figure::after {
  background-image: url(../img/img_illust_rearing_M.png);
}

.mobile_nav .senior .figure::after {
  background-image: url(../img/img_illust_senior_M.png);
}

.mobile_nav .retirement .figure::after {
  background-image: url(../img/img_illust_retirement_M.png);
}

.mobile_nav .retirement-funds .figure::after {
  background-image: url(../img/img_illust_retirement-funds_M.png);
}

.mobile_nav .housing-fund .figure::after {
  background-image: url(../img/img_illust_housing-fund_M.png);
}

.mobile_nav .education-funds .figure::after {
  background-image: url(../img/img_illust_education-funds_M.png);
}

.mobile_nav .join-insurance .figure::after {
  background-image: url(../img/img_illust_join-insurance_M.png);
}

a.button-blank::after, span.button-blank::after, button.button-blank::after, input.button-blank::after{
  width: 26px;
  height: 26px;
  padding: 0;
  margin: auto;
  border: 0;
  background-color: transparent;
  background-image: url(../img/svg/zoom.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

a.button-icon.add, span.button-icon.add, button.button-icon.add, input.button-icon.add {
  width: 40px;
  height: 40px;
  padding: 0;
  margin: auto;
  border: 0;
  background-color: transparent;
  background-image: url(../img/svg/plus.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.modal-content{
  border: none;
}

.modal .event-expenses{
  max-width: 1280px;
  width: 95%;
}

.modal .setting .table {
  border: 6px solid #bebebe;
}

.modal .setting .table th {
  border-right: 2px solid #bebebe;
  width: 50%;
}

.modal .setting .table td {
  width: 50%;
}

.modal .button-wrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.diagnosis .diagnosis-funds .graph-wrapper .graph-condition .condition-panel{
  border: 1px solid #dfdfdf;
}

.diagnosis .diagnosis-funds .graph-wrapper .graph-condition .condition-panel .title{
  color: #fff;
}

.diagnosis .diagnosis-funds .graph-wrapper .graph-condition .condition-panel .content .title-sub{
  color: #000;
}

.diagnosis .diagnosis-funds .graph-wrapper .graph-content .event-list{
  background-color: #fff;
  border-color: #333333;
}

.tab-period a {
  color: #333;
  background-color: #ebebeb;
}

.tab-period a::before {
  border-left: 15px solid #333;
}

.tab-period a.current {
  color: #fff;
}

.tab-period a.current::before {
  border-top: 15px solid #fff;
}

.is-show-scrollbar::-webkit-scrollbar {
  background-color: #fff;
}

.modal-content {
    height: calc(100vh - 120px);
}

.modal-question .column{
  font-size: 2.9rem;
  font-weight: 700;
}

.modal select.pulldown {
  width: max-content;
}


footer {
  font-size: 11px;
  line-height: 1;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  background-color: #fff;
  box-shadow: 0px -3px 6px 0px rgba(34, 60, 80, 0.2);
  padding: 20px 0;
}

footer p:first-child {
  margin-bottom: 20px;
}

.button-diagnosis-sm {
  display: block;
  background: url(../img/update/btn_diagnosis_sm.png) center center no-repeat;
  background-size: cover;
  height: 60px;
  width: 90%;
  margin: 0 auto;
  cursor: pointer;
}

.protection {
  overflow: auto;
}

.tab .caption::before,
.table .caption::before {
  border-top: 4px solid #333333;
  border-bottom: 4px solid #333333;
  border-left: 4px solid #333333;
}

.main-navigation{
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.navigation {
  margin-bottom: 0;
}

.main-navigation .navigation-title{
  padding-left: 60px;
  background: url(../img/icon_diagnosis.png) no-repeat left center;
  font-weight: bold;
  height: 76px;
  line-height: 76px;
}

.main-navigation .question-btn{
  border: 2px solid;
}

.graph canvas {
  width: 100%;
}

.graph-view canvas {
  width: 100%;
}

.event-list canvas {
  width: 100%;
}

.modal-content-wide {
  height: calc(100vh - 125px);
  overflow: auto;
}

.table-bordered td, .table-bordered th{
  border-width: 2px;
  border-color: #bebebe;
}

.funds-panel.reserve .content p {
  width: 50%;
}

@media (min-width: 769px) {
  .graph-content {
    padding-left: 15px;
  }

  .protection .offset {
    margin: 0 20px;
  }

  .header__center {
    margin-right: 10px;
    margin-left: 10px;
  }

  .header__right{
    min-width: 270px;
  }

  .ml-80 {
    margin-left: 80px;
    width: calc(100% - 80px);
  }
}

@media (min-width: 1400px) {
  .diagnosis .header .header__title{
    display: none;
  }

  .main-navigation{
    display: none;
  }
}

@media (max-width: 1625px) {
  .header .navigation-title{
    display: none;
  }
}

@media (max-width: 1500px) {
  .total-top .menu-lists.owl-carousel .owl-wrapper.owl-item .menu-item .generation,
  .total-top .menu-lists.owl-carousel .owl-item.owl-item .menu-item .generation,
  .owl-item .menu-item .simulation {
    font-size: 5.0rem;
  }

  .modal .cost-monthly .table th {
    width: 35%;
  }

  .top .content-panel .taget-info .panel-entry .title span {
    font-size: 22px;
  }
}

@media (max-width: 1400px) {
  .diagnosis .header .header__right{
    display: none;
  }

  .diagnosis .header .header-navigation .navigation-links{
    display: none;
  }

  .diagnosis .header .header-navigation{
    height: auto;
    margin-bottom: 0;
  }
}

@media (max-width: 1300px) {
  .total-top .menu-lists.owl-carousel .owl-wrapper.owl-item .menu-item .generation,
  .total-top .menu-lists.owl-carousel .owl-item.owl-item .menu-item .generation {
    font-size: 4.0rem;
  }

  .owl-item .menu-item .simulation {
    font-size: 3.5rem !important;
  }
}

@media (max-width: 1279px) {
  .diagnosis .header{
    border-color: transparent;
  }

  .main-navigation .navigation-links{
    width: 100%;
    order: 4;
  }

  .navigation .content-frame .grid .column a.current::before {
    bottom: -35px;
    height: 35px;
}

  .tab-simulation .tab-button {
    font-size: 18px;
  }
  
  .protection {
    font-size: 18px;
  }

  .insurance .protection .content .content-inner .fee table th > div, .insurance .protection .content .content-inner .fee table td > div {
    font-size: 18px;
  }
  
  .content-panel {
    height: auto;
  }

  .top .content-panel{
    flex-direction: column-reverse;
  }

  .top .content-panel .taget-visual{
    width: 850px;
    margin: auto;
    padding-top: 0;
  }

  .taget-visual{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .modal-frame .grid {
    flex-direction: column;
    gap: 40px;
  }

  .table table th > div.add-button, .table table td > div.add-button {
    padding-right: 0;
  }
}

@media (max-width: 1200px) {
  .total-top .menu-lists.owl-carousel .owl-wrapper.owl-item .menu-item .figure,
  .total-top .menu-lists.owl-carousel .owl-item.owl-item .menu-item .figure {
    height: 200px;
  }

  .total-top .menu-lists.owl-carousel .owl-wrapper.owl-item .menu-item, .total-top .menu-lists.owl-carousel .owl-item.owl-item .menu-item {
    height: 440px;
  }

  .total-top .menu-lists.owl-carousel .owl-wrapper.owl-item,
  .total-top .menu-lists.owl-carousel .owl-item.owl-item {
    height: 440px;
  }

  .total-top .menu-lists.owl-carousel .owl-controls .owl-prev, .total-top .menu-lists.owl-carousel .owl-controls .owl-next {
    top: -477px;
    width: 76px;
    height: 76px;
  }

  main .wrapper-sm .content-panel.grid {
    flex-direction: column;
  }

  .button-wrapper {
    text-align: center;
  }

  h1 {
    font-size: 24px;
  }

  .modal .event-expenses .panel-wrapper .event-list {
    grid-template-columns: repeat(2, minmax(350px, 1fr));
  }

  .modal .event-expenses .panel-wrapper .event-list li:nth-of-type(2n){
    border-right: none;
  }

  .modal .event-expenses .panel-wrapper .event-list li:nth-of-type(3n):not(:last-child){
    border-right: 2px solid #d8c2a4;
  }

  .modal .event-expenses .panel-wrapper .event-list li:nth-of-type(4){
    border-bottom: 2px solid #d8c2a4;
  }
}

@media (max-width: 1100px) {
  .tab-simulation .tab-button {
    font-size: 18px !important;
  }

  .total-top .menu-lists.owl-carousel .owl-wrapper.owl-item .menu-item .generation,
  .total-top .menu-lists.owl-carousel .owl-item.owl-item .menu-item .generation {
    font-size: 2.7rem;
  }

  .owl-item .menu-item .simulation {
    font-size: 2.5rem !important;
  }

  h1 {
    font-size: 20px;
  }

  h1 .fw-light {
    display: block;
  }

  .font-xlarge {
    font-size: 3.2rem;
  }

  input.textarea,
  select.pulldown {
    font-size: 3.2rem;
    height: 60px;
    line-height: 60px;
  }

  .diagnosis input.textarea.middle{
    width: 50%;
  }

  .diagnosis a.button-modal.decide{
    margin-top: 85px;
  }
}

@media (max-width: 991px) {
  .insurance .protection .content .content-inner .fee table th > div, .insurance .protection .content .content-inner .fee table td > div {
    font-size: 16px;
  }

  .top .content-panel .taget-info {
    grid-template-columns: 1fr;
    grid-template-rows: 470px;
  }

  .panel_3{
    grid-column: 1 span;
  }

  .top .content-panel .taget-visual{
    width: 450px;
  }

  .taget-visual{
    flex-direction: column;
  }

  .question-btn {
    font-size: 16px;
  }

  .navigation .content-frame .grid .column a,
  .navigation .content-frame .grid .column > span {
    font-size: 2.5rem;
  }
}

@media (max-width: 815px) {
  .modal .event-expenses .panel-wrapper .event-list {
    grid-template-columns: 1fr;
  }

  .modal .event-expenses .panel-wrapper .event-list li:nth-of-type(5){
    border-bottom: 2px solid #d8c2a4;
  }

  .modal .event-expenses .panel-wrapper .event-list li{
    border-right: none !important;
  }
}

@media (min-width: 768px) {
  .blocklist {
    padding-right: 15px;
  }

  .tab-simulation {
    width: calc(50% - 55px) !important;
  }

  .protection {
    padding-left: 15px;
  }
}


@media (max-width: 768px) {
  .diagnosis .diagnosis-plan .funds-wrapper .funds-total {
    font-size: 20px;
  }

  .diagnosis .diagnosis-plan .plan-title,
  .diagnosis .diagnosis-plan .funds-wrapper .funds-total .amount {
    font-size: 26px;
  }

  .table:not(.scroll) tr {
    display: flex;
    flex-direction: column;
  }

  .burger__btn,
  .question-btn{
    height: 40px;
  }

  .font-large {
    font-size: 2.5rem;
  }
  .diagnosis .diagnosis-funds .graph-wrapper {
    display: block;
  }

  .diagnosis .diagnosis-funds .graph-wrapper .graph-condition {
    width: 100%;
  }

  .graph-content {
    width: 100%;
    display: block;
    margin-top: 40px;
  }

  .question-btn .icon {
    height: 25px;
    width: 25px;
  }

  .education-plane .total-amount {
    margin-bottom: 50px;
  }

  .tab .tab-button-wrap .tab-button {
    padding: 0 35px;
  }

  .blocklist ul li {
    font-size: 18px;
  }

  .tab-simulation .tab-button {
    font-size: 20px !important;
  }

  .protection  {
    margin-top: 40px;
  }

  .notes {
    font-size: 20px;
  }

  .header .header-frame,
  .header__left {
    flex-direction: row-reverse;
  }

  .offcanvas-header{
    padding-right: 20px;
    justify-content: flex-end;
  }

  .offcanvas-backdrop {
    width: 100%;
    height: 100%;
  }

  .home{
    display: none;
  }

  .total-top .main-title {
    height: 200px;
  }

  .visual-btn{
    display: none;
  }

  .wrapper:not(.total-top) .header__right {
    display: none;
  }

  .question-btn {
    font-size: 16px;
  }

  h1 {
    font-size: 23px;
  }
  
  .header .fw-light {
    display: block;
  }

  .header__center {
    margin-right: auto;
  }

  input.textarea {
    font-size: 3.8rem;
    height: 60px;
    line-height: 60px;
  }

  .navigation .content-frame .grid .column a,
  .navigation .content-frame .grid .column > span {
    font-size: 2rem;
  }

  .tab .tab-button-wrap .tab-button {
    font-size: 20px;
  }

  .table table th > div,
  .table table td > div {
    font-size: 16px;
    padding: 15px 10px;
    position: relative;
  }

  .modal input.textarea,
  .modal select.pulldown,
  .modal .table table th > div, .modal .table table td > div{
    font-size: 2.2rem;
  }

  .wrapper-sm {
    padding: 0 15px;
  }

  .tab .caption + .tab-button-wrap {
    margin-left: 0;
    width: 100%;
  }
  
  .tab .caption + .tab-button-wrap + .tab-content-wrap,
  .table .caption + table {
    margin-left: 0;
    width: 100%;
  }

  .table .caption,
  .tab .caption {
    font-size: 22px;
    margin-bottom: 15px;
    display: block;
    position: relative;
    top: 0;
    writing-mode: unset;
    padding-left: 15px;
  }

  .tab .caption::before,
  .table .caption::before {
    content: '';
    left: 0;
    top: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
  }

  .tab .tab-button-wrap .tab-button {
    height: 30px;
    line-height: 30px;
  }

  .tab .tab-button-wrap {
    height: 34px;
    align-items: center;
  }

  a.button-icon.edit, span.button-icon.edit, button.button-icon.edit, input.button-icon.edit {
    width: 30px;
    height: 30px;
  }

  .font-xsmall {
    font-size: 20px;
  }

  main {
    margin-bottom: 130px;
  }

  main.top-main {
    margin-bottom: 60px;
  }

  .diagnosis .modal .event-expenses .panel-wrapper .entry-form{
    display: flex;
    flex-direction: column;
  }

  .diagnosis .modal .event-expenses .panel-wrapper .entry-form > div.age {
    border-right: none;
    border-bottom: 2px solid #a4643e;
  }

  .diagnosis .modal .event-expenses .panel-wrapper .entry-form > div {
    padding: 15px 20px;
    width: 100%;
    height: auto;
    text-align: center;
  }
}

.overflow {
  width: 100%;
}

@media (max-width: 576px) {
  .education-plane .total-amount {
    padding: 0 5px;
  }
  .education-plane .total-amount .label {
    margin-right: 10px;
  }
  .education-plane .total-amount .label,
  .education-plane .total-amount .amount {
    font-size: 24px;
  }

  .modal .cost-monthly .table th {
    width: 100%;
  }

  .table table th {
    width: 100%;
  }

  .column.overflow {
    overflow: auto;
  }



  .table.scroll {
    overflow: auto;
  }

  .table>:not(caption)>*>*{
    padding: 0;
    border: none;
  }

  .table table th {
    border-bottom: none;
    border-right: 2px solid #bebebe;
  }

  .table table td{
    border-bottom: none;
    border-left: 2px solid #bebebe;
  }

  .table table{
    border-bottom: 2px solid #bebebe;
  }

  .tab-content[data-tabcontent='tab2'] .table table{
    border: 2px solid #bebebe;
    border-collapse: collapse;
  }

  .tab-content[data-tabcontent='tab2'] .table table th{
    border-left: none;
    border-right: none;
  }

  .tab-content[data-tabcontent='tab2'] .table table td{
    border-left: none;
    border-right: none;
  }

  .button-wrapper {
    padding-top: 0;
  }

  .modal .table table td,
  .modal .table table th{
    border: none;
  }

  .modal .table table td > div.right{
    text-align: left;
  }

  .modal .setting .table th {
    width: 100%;
    border-right: none;
    border-bottom: 2px solid #bebebe;
  }

  .modal .setting .table td {
    width: 100%;
  }

  .modal .setting .table td{
    border-left: none
  }

  .modal select.pulldown {
    width: 100%;
  }

  a.button-modal, span.button-modal, button.button-modal, input.button-modal {
    font-size: 3.0rem;
    height: 85px;
    line-height: 85px;
}

  .navigation .content-frame .grid .column a,
  .navigation .content-frame .grid .column > span {
    font-size: 15px;
  }

  .diagnosis .main-navigation{
    padding-top: 10px;
  }

  .diagnosis .main-navigation .navigation-title{
    margin-left: 10px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
  }

  .question-btn {
    font-size: 12px;
    margin-right: 10px;
    padding: 0 5px;
    column-gap: 5px;
  }

  .diagnosis input.textarea.middle {
    width: 100%;
  }
}
